
name: Build_test_app

on:
  push:
    branches: [ "master" ]
  

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Use Node.js 24
      uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: 'npm'
    - name: Install dependencies
      run: npm install
    
    - name: start tests
      run: |
       npm start & npx wait-on http://localhost:8080 npm test

  deploy:
    needs: build_and_test
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to Render
      uses: JorgeLNJunior/render-deploy@v1.4.7
      with:
        service_id: ${{ secrets.SERVICE_ID }}
        api_key: ${{ secrets.RENDER_TOKEN }}
        wait_deploy: true
      
